{% extends 'main.html' %}
{% block content %}
    <h1>Simptomlar</h1>
    <a href="{% url 'patient_add' %}" class="btn btn-primary">Qo'shish </a>
    <a href="{% url 'patient_migrate' %}" class="btn btn-info">Migrate </a>
    <br/>
    <hr>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Yoshi</th>
            <th>Jinsi</th>
            <th>Simtom</th>
            <th>Xulosa</th>
            <th>Rahirilash</th>
        </tr>
        </thead>
        {% for item in items %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.age }}</td>
                <td>{{ item.gender }}</td>
                <td>{{ item.symptom }}</td>
                <td>{{ item.event }}</td>
                <td>
                    <div class="btn-group">
                        <a href="{% url 'patient_edit' id=item.id %}" class="btn btn-warning btn-sm">o'zgartish</a>
                        <a href="{% url 'patient_delete' id=item.id %}" class="btn btn-danger btn-sm">o'chirish</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}